name: Build OpenWrt

on: workflow_dispatch

env:
  OPENWRT_URL: https://git.openwrt.org/openwrt/openwrt.git
  OPENWRT_TAG: v21.02.0-rc3
  TZ: UTC

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup environment
        run: |
          sudo timedatectl set-timezone "$TZ"
          sudo -E apt-get -qq update
          sudo -E apt-get -qq install build-essential ccache ecj fastjar file g++ gawk gettext git java-propose-classpath libelf-dev libncurses5-dev libncursesw5-dev libssl-dev python python2.7-dev python3 unzip wget python3-distutils python3-setuptools rsync subversion swig time xsltproc zlib1g-dev
          sudo -E apt-get -qq autoremove --purge
          sudo -E apt-get -qq clean

      - name: Clone OpenWrt and mknop
        run: |
          git clone "$OPENWRT_URL" ./openwrt
          git clone --depth 1 https://github.com/tuanqing/mknop.git
          cd ./openwrt/ && git checkout "$OPENWRT_TAG"

      - name: Copy feeds.conf.default
        run: |
          if [ -f ./feeds.conf.default ]; then
            cp ./feeds.conf.default ./openwrt/
          fi

      - name: Update and install feeds
        run: cd ./openwrt/ && ./scripts/feeds update -a && ./scripts/feeds install -a

      - name: Copy .config
        run: |
          if [ -f ./.config ]; then
            cp ./.config ./openwrt/
          fi

      - name: Run custom.sh
        run: |
          if [ -f ./custom.sh ]; then
            chmod +x ./custom.sh
            cd ./openwrt/
            "$GITHUB_WORKSPACE"/custom.sh
          fi

      - name: Make OpenWrt
        run: |
          cd ./openwrt/
          make defconfig
          make -j8 download
          make -j"$(nproc)" || make -j1 || make -j1 V=s

      - name: Build image
        run: |
          cp ./openwrt/bin/targets/*/*/*.tar.gz ./mknop/openwrt/
          cd ./mknop/
          sudo ./gen_openwrt -d -k latest -m phicomm-n1

      - name: Prepare for uploading artifact
        run: |
          cp ./openwrt/.config ./mknop/out/phicomm-n1/
          cd ./mknop/out/phicomm-n1/
          du -h ./* ./.config
          sha256sum ./* ./.config

      - name: Upload artifact
        uses: actions/upload-artifact@main
        with:
          name: openwrt-phicomm-n1
          path: ./mknop/out/phicomm-n1/
